<html>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">
<header>
  <div id="banner">
    <pre>
  __  __    _______   _____    __
/\  /\  /\/\_______)\/\ __/\  /\_\
\ \ \/ / /\(___  __\/) )  \ \( ( (
  \ \__/ /   / / /   / / /\ \ \\ \_\
  \__/ /   ( ( (    \ \ \/ / // / /__
  / / /     \ \ \    ) )__/ /( (_____(
  \/_/      /_/_/    \/___\/  \/_____/
    </pre>
</header>

<body bgcolor=black>
  <ul class="tab">
  <li><a href="#" class="tablinks" onclick="openTab(event, 'Album')">Album</a></li>
  <li><a href="#" class="tablinks" onclick="openTab(event, 'singleSong')">Single Song</a></li>
</ul>

<div id="Album" class="tabcontent">
  <h3>Download Album</h3>
  <form  action="." method="POST">
    URL:<br>
    <input type="text" name="albumURL"><br>
    <br>
    <input type="submit" name="submit" value="Process" onclick="loading()">
    <br><br>
    <details>
    <summary>Additional Options</summary>
    <br>
    <select name="select" id="dropdown">
    <option value="" selected>Select Number of Songs</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    </select>
    <br>
    <div id="inputDiv"></form>
    </details>
  </form>

  <div id="loading"></div>
  {% if lists %}
    <br>
    <div id="description">
      <table style="width:100%">
        <thread>
          <tr>
            <th>Songs</th>
          </tr>
        </thread>
        {% for descrip, song in lists %}
        <tr>
          <td>
            <a href="{{ song }}">
              <div style="height:100%;width:100%">
                {{ descrip }}
              </div>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}

</div>

<div id="singleSong" class="tabcontent">
  <h3>Download Single</h3>
  <form action="." method="POST">
    URL:<br>
    <input type="text" name="singleURL"><br>
    <br>
    <input type="submit" name="submit" value="Download">
  </form>

<script type="text/javascript">
  function loading(){
    $("#loading").show();
    $("#description").hide();
  }
</script>

<script>
function reset() {
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tabcontent.length; i++) {
        tablinks[i].classList.remove("active");
    }
}

function openTab(evt, tabLink) {
    reset();

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(tabLink).style.display = "block";
    evt.currentTarget.classList.add("active");

}
</script>

<script type="text/javascript">
function init() {
    reset();

    document.getElementsByClassName("tabcontent")[0].style.display = "block";
    document.getElementsByClassName("tablinks")[0].classList.add("active");

  }
  window.onload = init;
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
  function loading(){
    $("#loading").show();
    $("#description").hide();
  }
</script>

<script type="text/javascript">
$(document).ready(function() {
  $("#dropdown").change(function() {
      var selVal = $(this).val();
      if(selVal > 0) {
          $("#inputDiv").empty();
          for(var i = 1; i<= selVal; i++) {
              $("#inputDiv").append('<br><input id="titleVal" type="text" name="titleValue" value="" />');
              $("#inputDiv").append('<input id="timeVal" name="timeValue" value="" /><br>');
          }
      }
      else {
        $("#inputDiv").html('')
      }
  });
});
</script>

</body>
</html>
