<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<header>
  <div id="banner">
    <pre>
  __  __    _______   _____    __
/\  /\  /\/\_______)\/\ __/\  /\_\
\ \ \/ / /\(___  __\/) )  \ \( ( (
  \ \__/ /   / / /   / / /\ \ \\ \_\
  \__/ /   ( ( (    \ \ \/ / // / /__
  / / /     \ \ \    ) )__/ /( (_____(
  \/_/      /_/_/    \/___\/  \/_____/
    </pre>
  </div>
</header>

<body>
  <ul class="tab">
  <li><a href="#" class="tablinks" onclick="openTab(event, 'Album')">Album</a></li>
  <li><a href="#" class="tablinks" onclick="openTab(event, 'singleSong')">Single Song</a></li>
  </ul>

<div id="Album" class="tabcontent">
  <h3>Download Album</h3>
  <form  action="." method="POST">
    URL:<br>
    <input type="text" name="albumURL"><br>
    <br>
    <input type="submit" name="submit" value="Process" onclick="loadingAlbum();">
    <br><br>
    <details>
    <summary>Additional Options</summary>
    <br>
    <select name="select" id="dropdown">
    <option value="" selected>Select Number of Songs</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    </select>
    <br>
    <div id="inputDiv"></div>
    </details>
  </form>

  <div id="loadingAlbum"></div>
  {% if lists %}
    <br>
    <div id="description">
      <table style="width:100%">
        <thread>
          <tr>
            <th>Songs</th>
          </tr>
        </thread>
        {% for descrip, song in lists %}
        <tr>
          <td>
            <a href="{{ song }}">
              <div style="height:100%;width:100%">
                {{ descrip }}
              </div>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}

</div>

<div id="singleSong" class="tabcontent">
  <h3>Download Single</h3>
  <form action="." method="POST">
    URL:<br>
    <input type="text" name="singleURL"><br>
    <br>
    <input type="submit" name="submit" value="Download" onclick="loadingSong();">
  </form>
  <div id="loadingSong"></div>
</div>

<script src="{{ url_for('static', filename='inputs.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='tabs.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='loading.js') }}" type="text/javascript"></script>

</body>
</html>
